
<h1>ユーザ一覧</h1>

<% @users.each do |user| %>
  <span><%= user.name %></span>
  <%= link_to "show", user_path(user.id) %>
<% end %>


<%= render 'books/newbook', book: @book %>


<%= render 'users/user', user: @user %>