
<% if model.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <h6>errors prohibited this book from being saved:</h6>
      <ul>
        <% model.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
  </div>
<% end %>